.NavBar {
  background-color: #071848 !important;
}
.activeStyle {
  color: #09bed0;
}

<<<<<<< HEAD
span {
  background-color: white !important;
}
=======
>>>>>>> c105064600361768284e3aaf98438a866f1f8094
